<!DOCTYPE html>
<html lang="en">
    <!-- Make the title dynamic -->
    <%- include("../partials/header.ejs", {title: "Feature Requests"}) %>

    <body>
        <%- include("../partials/navbar.ejs") %>
        
        <%- include("../partials/components/createRequestCTA.ejs") %>

        <div id="main-content">
            <% if (pageExists && mainPage) { %>
                <%- include("../pages/" + mainPage + ".ejs") %>
            <% } %>
        </div>

        <%- include("../partials/footer.ejs") %>
    </body>
    <% if (loginInfo) { %>
        <script>
            const user = <%- loginInfo %>;
            if (user && Object.keys(user).length > 0) {
                console.log("empty")
                localStorage.setItem("user", JSON.stringify(user));
            }
            
        </script>
    <% } %>

</html>