<!DOCTYPE html>
<html lang="en">
    <!-- Make the title dynamic -->
    <%- include("../partials/header.ejs", {title: "Feature Requests"}) %>

    <body>
        <%- include("../partials/navbar.ejs") %>
        
        <%- include("../partials/components/createrequestCTA.ejs") %>

        <div id="main-content">
            <% if (mainPage) { %>
                <%- include("../pages/" + mainPage + ".ejs") %>          
            <% } %>
        </div>

        <%- include("../partials/footer.ejs") %>
    </body>
    <% if (loginInfo) { %>
        <script>
            const user = <%- loginInfo %>
            localStorage.setItem("user", JSON.stringify(user));
        </script>
    <% } %>

</html>