<!DOCTYPE html>
<html lang="en">
<!-- Make the title dynamic -->
<%- include("../partials/header.ejs", {title: "Feature Requests" }) %>

    <body>
        <%- include("../partials/navbar.ejs") %>

            <div class="container">
                <div class="row">
                    <%- include("../partials/components/filter.ejs") %>
                    <%- include("../partials/components/createRequestCTA.ejs") %>
                    <%- include("../partials/components/search.ejs") %>
                </div>
            </div>


            <div id="main-content">
                <% if (pageUrl) { %>
                    <%- include("../pages/" + pageUrl + ".ejs" ) %>
                <% } %>
            </div>

            <%- include("../partials/footer.ejs") %>
    </body>

    <% if (locals.loginInfo) { %>
        <script>
            const user = <% - loginInfo %>;
            if (user && Object.keys(user).length > 0) {
                localStorage.setItem("user", JSON.stringify(user));
            }           
        </script>
        <% } %>

        <script>
            disabledCTAs();
        </script>

</html>